@import url('https://fonts.googleapis.com/css2?family=Product+Sans&display=swap');
/* Importing the 'Product Sans' font from Google Fonts */

/* The background image for all pages */
body {
  background-image: url("Images/2713.jpg");
  color: rgb(128, 128, 128);
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

/* Navbar styles */
.navbar {
  margin-bottom: 10rem;
}

/* Styles for the landing header */
.landing-header {
  text-align: center;
  margin-top: 10rem;
}

.landing-header h1 {
  font-size: 50px; /* Adjust the font size as desired */
}

/* Styles for the coming header */
.coming-header {
  text-align: center;
  margin-top: 2rem;
  font-size: 75%; /* Set the font size to 75% of the landing header */
}

/* Styles for the email input section */
.email-input {
  text-align: center;
  margin-top: 2rem;
}

.email-input input[type="email"] {
  padding: 10px;
  width: 300px;
  border-radius: 20px;
  border: none;
  font-size: 14px;
  margin-right: 10px;
}

/* Styles for the notify button */
.notify-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: rgb(128, 128, 128);
  color: black;
  border-radius: 20px;
  font-size: 14px;
  text-decoration: none;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.notify-button:hover {
  background-color: black;
  color: white;
}

/* Styles for the timer section */
.timer {
  text-align: center;
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}

.timer-bubble {
  display: inline-block;
  background-color: rgb(128, 128, 128);
  color: black;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  margin: 0 10px;
  line-height: 60px;
  font-size: 24px;
}

.timer-label {
  text-align: center;
  margin-top: 0.5rem;
  font-size: 14px;
}

/* Styles for the loading bar */
.loading-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(128, 128, 128);
  height: 40px;
  border-radius: 20px;
  margin-top: 2rem;
  width: 50%; /* Adjust the width to your desired length */
  margin-left: auto; /* Center the loading bar horizontally */
  margin-right: auto;
}

.loading-progress {
  background-color: #27ae60;
  height: 100%;
  border-radius: 20px;
  width: 0;
  transition: width 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: bold;
}
