.footer {
    background-color: rgb(128, 128, 128);
    color: #ffffff;
    text-align: center;
    padding: 15px;
    border-radius: 0 0 0 0;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
  }
  
  .custom-shape-divider-top-1685588587 {
    position: absolute;
    top: -45px; /* Adjust the value as needed */
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
  }
  
  .custom-shape-divider-top-1685588587 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.1px);
    height: 45px; /* Adjust the value as needed */
  }
  
  .custom-shape-divider-top-1685588587 .shape-fill {
    fill: rgb(128, 128, 128);
  }
  
  .footer-text {
    font-size: 12px;
    margin-top: 10px;
    margin-bottom: 0;
  }
  