.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: black;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 999;
  }
  
  .navbar-brand {
    font-size: 30px;
    font-weight: bold;
    color: white;
    text-decoration: none;
    transition: transform 0.3s ease;
    padding-left: 2rem;
  }
  
  .navbar-brand:hover {
    transform: scale(1.3);
  }
  
  .navbar-links {
    list-style: none;
    margin: 10px;
    padding: 0;
    display: flex;
  }
  
  .navbar-link {
    margin-left: 10px;
  }
  
  .navbar-link a {
    color: white;
    text-decoration: none;
    padding: 10px;
    border: 2px solid white;
    border-radius: 15px; /* Updated border-radius for cylindrical shape */
    transition: background-color 0.3s ease, color 0.3s ease;
    box-shadow: none;
  }
  
  .navbar-link a:hover {
    background-color: #ffffff;
    box-shadow: 0 6px 15px rgba(150, 150, 150, 0.3);
    color: black;
  }
  
  .navbar-link a[data-button="true"]:hover {
    box-shadow: 0 15px 30px rgba(150, 150, 150, 0.5);
  }
  